* {
    background-color: (248,248,235);
    overflow: hidden;
    font-family: monospace;
}


.titel {
    position: absolute;
    left: 420px;
    top: 120px;
    color: black;
    z-index: 3;
}

.titel2 {
    position: absolute;
    left: 510px;
    top: 150px;
    color: black;
    z-index: 3;
}

.main-text {
    position: absolute;
    left: 500px;
    top: 230px;
    color: black;
    z-index: 3;
}

.Fire {
    position: absolute;
    width: 1536px;
    height: 110px;
    left: 0px;
    top: 0px;
    z-index: 1;
}

.Fire-border {
    position: absolute;
    width: 6px;
    height: 10px;
    left: 0px;
    top: 0px;
    z-index: 1;
}

.beige-block {
    position: absolute;

    background-color: #EBE1CC;
    width: 1078px;
    height: 824px;
    left: 0px;
    bottom: 0px;
    z-index: 1;
}

.Flying-Money {
    position: absolute;
    z-index: 3;
    width: 300px;
    height: 170px;
    right: 0;
    top: 180px;
}

.Wallet {
    position: absolute;
    z-index: 3;
    right: 0;
    bottom: 0;
}

.money-image-left{
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
}


.money-image-left {
    position: absolute;
    left: 0;
    top: 230px;
    width: 5100px;
    height: 6460px;
    z-index: 3;
}


.money-image-left img {
    width: 500px;
    height: 640px;
}